/* 
<=====   Table of Style Content (in order of HTML Appearance)  ======>
  1.0 Css Reset
  2.0 Body and Root Styles
  3.0 Rules Section
     3.1 Rules Css Tag && image Tags
     3.2 Closing Rule Tags
     3.3 Rules Psuedo-Element
  4.0 Main Section
     4.1 Header Section 
        4.1.1 Header Class Styles
        4.1.2 Header Element Style(header logo and header score)
     4.2 Game Display Section
        4.2.1 Game Pick Section
            :Paper
            :Scissors
            :Rock
        4.2.2 Game Decide Section
  5.0 javaScript Toggle Classes
  6.0 Media Rules
  7.0 Frontend Mentor Attribution

<========                    ====================>
*/


/* <=====  CSS RESET =====>*/
* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      background: radial-gradient(circle,hsl(214, 47%, 23%),hsl(237, 49%, 15%));
      font-family: 'Poppins',sans-serif;
}
:root{
        --score-color:hsl(229, 64%, 46%);
        --dark-text: hsl(229, 25%, 31%);
        --header-out:  hsl(217, 16%, 45%);
         --game-shadow:hsla(228.6, 19.6%, 21%, 0.58);
         --paper-color:hsl(230, 89%, 62%);
         --rock-color: hsl(349, 71%, 52%);
         --scissors-color:hsl(39, 89%, 49%);
         --white-bkg:hsl(0, 0%, 100%);
         --game-lose:hsl(349, 71%, 52%);
        --game-win:  hsl(214, 47%, 23%);
        --dark-shadow:hsla(0, 0%, 0%, 0.432);
}

/*<===  RULES SECTION ===>*/
.rules {
  position: absolute;
  width: 35rem;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:var(--white-bkg);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  transition: all 1s ease-out;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(2, 6fr);
  grid-template-rows: repeat(2, minmax(0, auto));
  align-items: center;
  justify-content: center;
}

.rules-img {
  margin-top: 1.5rem;
  grid-column: 1/13;
  grid-row: 2/3;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.rules-tag {
  grid-column: 1/6;
  grid-row: 1/2;
  text-align: left;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--dark-text);
}
.img-close {
  cursor: pointer;
}
.rules.close {
  opacity: 0;
  transform: translate(-60%, -200%) rotate(270deg);
}

.img-close {
  grid-column: 6/13;
  grid-row: 1/2;
}
.rules::after {
      content: ' ';
      background-color:var(--white-bkg);
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 1rem;
      transition: all 0.6s ease-out;
      z-index: -1;
}

.rules:active::after {
      transform: scaleX(1.5);
      opacity: 0;
}

/* <========  MAIN =========> */
main{
  width: 50rem;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  padding: 1rem;
}

/* <=====  Main : Header section ======>*/
.header{
  display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
   border: 2px solid var(--white-bkg);
   border-radius: 1rem;
   width: 100%;
   left: 50%;
     transform: translateX(-50%);
     position: relative;
}

.header--score{
 background-color: var(--white-bkg);
 padding: .5rem 5rem;
 border-radius: 1rem;
 text-align: center;
}
.header--score p{
 margin-bottom: 0;
 color: var(--score-color);
 text-transform: uppercase;
 font-weight: bold;transform: translateY(1rem);
}
.header--score .count--score{
 margin-top: .1rem;
 color: var(--dark-text);
 font-size: 4rem;
}

/* <===== 
         Main : Game Display section
  ======>*/

  .game--display {
   position: relative;
   margin-top: 3rem;
  }

  .game--display p{
    color: var(--white-bkg);
    text-align: center;
  }


  /* Main : Game Display section : Game Pick */
.game--pick{
  display: block;
  background-image: url('/assets/images/bg-triangle.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(2,minmax(3rem,auto));
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  margin-top: 4rem;
}

/* Game Pick : Paper*/
.paper{
  border-radius: 10rem;
  grid-column: 1/4;
  grid-row: 1/2;
  transform:translate(3rem,-2rem);
  border: 1rem solid hsl(230, 89%, 65%);
  width: 13rem;
  height: 13.5rem;
  z-index: 1;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paper--img{
  border-radius: 10rem;
  padding: 2.5rem 3rem;
  border: 1rem solid  var(--paper-color);
  background-color: var(--white-bkg);
  box-shadow: .3rem .6rem .8rem var(--game-shadow);
  z-index: -1;
  cursor:pointer;
}

/* 
    Game Pick : Scissors
*/

.scissors{
  border-radius: 10rem;
  grid-column: 10/13;
  grid-row: 1/2;
  transform: translate(-7rem,-2rem);
  border: 1rem solid  hsl(40, 84%, 53%);
  width: 13rem;
  height: 13.5rem;
  z-index: 1;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scissors--img{
  border-radius: 10rem;
  padding: 2.5rem 3rem;
  border: 1rem solid var(--scissors-color);
  background-color: var(--white-bkg);
  box-shadow: .3rem .6rem .6rem var(--game-shadow);
  cursor:pointer;
  z-index: -1;
}

/* Game Pick : Rock */
.rock{
  border-radius: 10rem;
  grid-column: 6/7;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1rem solid  hsl(349, 70%, 56%);
  width: 13rem;
  height: 13.5rem;
  z-index: 1;
  padding-bottom: .5rem;
}
.rock--img{
  z-index: -1;
  border-radius: 10rem;
  padding: 3rem 3rem;
  border: 1rem solid  var(--rock-color) ;
  background-color: var(--white-bkg);
  box-shadow: .3rem .6rem .6rem var(--game-shadow);
  cursor:pointer;
}


 /* Main : Game Display section : Game Decision */
 
 .game--decide{
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  margin-top: 2rem;
}
  
/* Game Decide > Pick Class */
  .pick{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pick p{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1rem;
    font-size: 1.2rem;
  }


/* Game Decide >  Game Compare*/
.game--compare{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(2,auto);
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
.game--compare div:nth-of-type(1){
  grid-column: 1/2 !important;
  grid-row: 1/2 !important;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(2,auto);
  margin-top: 3rem;
  /* transform: translateX(-2rem); */
}
.game--compare div:nth-of-type(1) > p{
  grid-row: 1/2;
  grid-column: 1/12;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: .1rem;

}
.game--compare div:nth-of-type(1) > img{
  grid-row: 2/3;
  transform: translateY(-1rem);
}
.game--compare img:hover{
  transform: scale(1.1) !important;
}
.game--compare div:nth-of-type(2){
  grid-column: 3/8 !important;
  grid-row: 1/2 !important;
}
.game--compare div:nth-of-type(3){
  grid-column: 9/12 !important;
  grid-row: 1/2 !important;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(2,auto);
}
.game--compare div:nth-of-type(3) > p{
  grid-column: 1/12 !important;
  grid-row: 1/2 !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: .1rem;
}
.game--compare div:nth-of-type(3) > img{
  /* grid-column: 9/12 !important; */
  grid-row: 2/3 !important;
  transform: translateY(-1rem);

}
/* Game Compare Classes */
.announce{
  margin: 0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--white-bkg);
  font-size: 3rem;
}
.button{
  cursor: pointer;
  margin: 0;
  padding: 1rem 3rem;
  background-color: var(--white-bkg);
  border-radius: 1rem;
  position: relative;
  box-shadow: .2rem .4rem .3rem var(--dark-shadow);
  text-transform: uppercase;

}
.draw{
  color: var(--scissors-color) !important;
}


.button::after{
  content: ' ';
      background-color: var(--white-bkg);
      display: inline;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 1rem;
      transition: all 0.5s ease-out;
      z-index: -1;
}
.button:active::after{
   transform: scaleX(1.2);
   opacity: 0;
}

/* Js - Toggle Classes */
.button.win{
  color: var(--game-win);
}

.button.lose{
  color: var(--game-lose);
}

.hidden{
  opacity: 0;
  z-index: -2;
  display: none !important;
}
.rule--button{
  position: relative;
  transform: translateY(100rem);
  width: 10rem;
  margin: 0 auto;
}
.house--blank{
  border-radius: 5rem ;
}
.rule--button p{
  cursor: pointer;
  margin: 0;
  padding: 1rem 3rem;
  border: .2rem solid var(--white-bkg);
  color:var(--white-bkg);
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 1rem;
  position: relative;
  box-shadow: .2rem .4rem .3rem var(--dark-shadow);
  background-image: url('/assets/images/wave\(1\).svg');
  background-position: bottom;
  background-size: contain;
  background-repeat: repeat-x;
}

/* The class for js names have a translate property,which without grid,
acts differntly,in other to treat that, new classes were made without them(translate) */

.paper--picked{
  border-radius: 10rem;
  border: 1rem solid hsl(230, 89%, 65%);
  width: 13rem;
  height: 13.5rem;
  z-index: 1;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scissors--picked{
  border-radius: 10rem;
  border: 1rem solid  hsl(40, 84%, 53%);
  width: 13rem;
  height: 13.5rem;
  z-index: 1;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Media Rules and Responsiveness */
@media screen and (max-width: 500px) {
 main{
   width: 100vw;
   /* width: 40rem; */
 }
 .rule--button{
  display: grid;
justify-content: center;
transform: translate(1rem,50rem) !important;
}
.game--compare div:nth-of-type(1){
  grid-column: 2/3 !important;
  grid-row: 1/2 !important;
}
.game--compare div:nth-of-type(2){
  grid-column: 3/9 !important;
  margin-top: 3rem;
  grid-row: 2/3 !important;
  transform: translateX(-2rem);
}
.game--compare div:nth-of-type(3){
  grid-column: 7/10 !important;
  transform: translateX(-1.5rem);
}
.game--compare div:nth-of-type(1) > p{
  grid-row: 3/4;
  margin-top: 1rem;
  grid-column: 1/12;
}
.game--compare div:nth-of-type(3) > p{
  grid-row: 3/4 !important;
  margin-top: 1rem;
  grid-column: 1/12;
}
}
    @media screen and (max-width: 400px) {
      .rules {
        height: 70vh;
        margin-top: 3rem auto;
      }

      .rules-tag {
        grid-column: 1/6;
        grid-row: 1/2;
        text-align: left;
        text-align: center;
      }

      .img-close {
        grid-column: 1/13;
        grid-row: 3/4;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        margin-top: 2rem;
      }

      .rules-img {

        grid-column: 1/13;
        grid-row: 2/3;
      }
      /* .rule--button{
        display: grid;
  justify-content: center;
  align-self: start;
  transform: translate(16rem,35rem) !important;
      } */
    }
 

/* Frontend Mentor Attribution*/
 .attribution {
  font-size: 1.1rem;
  text-align: center;
  display: none;
}

.attribution a {
  color:var(--white-bkg);
}