
    .attribution {
      font-size: 11px;
      text-align: center;
      display: none;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }

    * {
      box-sizing: border-box;
    }

    body {
        padding: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      background: radial-gradient(circle,hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    }
    :root{
        --score-color:hsl(229, 64%, 46%);
        --dark-text: hsl(229, 25%, 31%);
        --header-out:  hsl(217, 16%, 45%);
        --game-bkg:  hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
         --game-shadow:hsla(228.6, 19.6%, 21%, 0.58);
      }
    main{
        width: 400px;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        padding: 10px;
    }
.header{
     display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 10px;
      border: 2px solid #fff;
      border-radius: 10px;
      width: 100%;
      left: 50%;
        transform: translateX(-50%);
        position: relative;
}

.header--score{
    background-color: hsla(0, 0%, 100%, 0.938);
    padding: 5px 50px;
    border-radius: 10px;
    text-align: center;
}
.header--score p{
    margin-bottom: 0;
    color: var(--score-color);
}
.header--score h2{
    margin-top: 5px;
    color: var(--dark-text);
    font-size: 30px;
}
    .rules::after {
      content: ' ';
      background-color: hsla(0, 0%, 100%, 0.938);
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
      transition: all 1s ease-out;
      z-index: -1;
    }

    .rules:active::after {
      transform: scaleX(1.5);
      opacity: 0;
    }

    .rules {
      position: absolute;
      width: 350px;
      height: auto;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: hsla(0, 0%, 100%, 0.938);
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      transition: all 2s ease-out;
      z-index: 10;
      display: grid;
      grid-template-columns: repeat(2, 6fr);
      grid-template-rows: repeat(2, minmax(0, auto));
      align-items: center;
      justify-content: center;
    }

    .rules.close {
      opacity: 0;
      transform: translate(-60%, -1000%) rotate(360deg);
    }

    .rules-tag {
      grid-column: 1/6;
      grid-row: 1/2;
      text-align: left;
    }

    .img-close {
      grid-column: 6/13;
      grid-row: 1/2;
    }

    .rules-img {
      margin-top: 15px;
      grid-column: 1/13;
      grid-row: 2/3;
      left: 50%;
      transform: translateX(-50%);
      position: relative;
    }



    .img-close {
      cursor: pointer;
    }
    .game--display p{
   color: #fff;
   text-align: center;
    }
.game--display {
  position: relative;
}
.game--pick{
  background-image: url('/assets/images/bg-triangle.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.paper{
  background: linear-gradient(hsl(39, 89%, 49%) , hsl(40, 84%, 53%));
  border-radius: 50px;
}
.paper--img{
  border-radius: 50px;
  padding: 15px 20px;
  border-style: inset;
  border: 10px solid  hsl(39, 89%, 49%);
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 3px 3px var(--game-shadow);
}

    @media screen and (max-width: 400px) {
      .rules {
        height: 70vh;
        margin-top: 30px auto;
      }

      .rules-tag {
        grid-column: 1/6;
        grid-row: 1/2;
        text-align: left;
        text-align: center;
      }

      .img-close {
        grid-column: 1/13;
        grid-row: 3/4;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        margin-top: 20px;
      }

      .rules-img {

        grid-column: 1/13;
        grid-row: 2/3;
      }
    }
 