/* 
<=====   Table of Style Content (in order of HTML Appearance)  ======>
  1.0 Css Reset
  2.0 Body and Root Styles
  3.0 Rules Section
     3.1 Rules Css Tag && image Tags
     3.2 Closing Rule Tags
     3.3 Rules Psuedo-Element
  4.0 Main Section
     4.1 Header Section 
        4.1.1 Header Class Styles
        4.1.2 Header Element Style(header logo and header score)
     4.2 Game Display Section
        4.2.1 Game Pick Section
            :Paper
            :Scissors
            :Rock
        4.2.2 Game Decide Section
  5.0 javaScript Toggle Classes
  6.0 Media Rules
  7.0 Frontend Mentor Attribution

<========                    ====================>
*/


/* <=====  CSS RESET =====>*/
* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

body {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      background: radial-gradient(circle,hsl(214, 47%, 23%),hsl(237, 49%, 15%));
      font-family: 'Poppins',sans-serif;
}
:root{
        --score-color:hsl(229, 64%, 46%);
        --dark-text: hsl(229, 25%, 31%);
        --header-out:  hsl(217, 16%, 45%);
         --game-shadow:hsla(228.6, 19.6%, 21%, 0.58);
         --paper-color:hsl(230, 89%, 62%);
         --rock-color: hsl(349, 71%, 52%);
         --scissors-color:hsl(39, 89%, 49%);
         --white-bkg:hsl(0, 0%, 100%);
         --game-lose:hsl(349, 71%, 52%);
        --game-win:  hsl(214, 47%, 23%);
        --dark-shadow:hsla(0, 0%, 0%, 0.432);
}

/*<===  RULES SECTION ===>*/
.rules {
  position: absolute;
  width: 350px;
  height: auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:var(--white-bkg);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: all 1s ease-out;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(2, 6fr);
  grid-template-rows: repeat(2, minmax(0, auto));
  align-items: center;
  justify-content: center;
}

.rules-img {
  margin-top: 15px;
  grid-column: 1/13;
  grid-row: 2/3;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.rules-tag {
  grid-column: 1/6;
  grid-row: 1/2;
  text-align: left;
}
.img-close {
  cursor: pointer;
}
.rules.close {
  opacity: 0;
  transform: translate(-60%, -200%) rotate(270deg);
}

.img-close {
  grid-column: 6/13;
  grid-row: 1/2;
}
.rules::after {
      content: ' ';
      background-color:var(--white-bkg);
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
      transition: all 0.6s ease-out;
      z-index: -1;
}

.rules:active::after {
      transform: scaleX(1.5);
      opacity: 0;
}

/* <========  MAIN =========> */
main{
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  padding: 10px;
}

/* <=====  Main : Header section ======>*/
.header{
  display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   border: 2px solid var(--white-bkg);
   border-radius: 10px;
   width: 100%;
   left: 50%;
     transform: translateX(-50%);
     position: relative;
}

.header--score{
 background-color: var(--white-bkg);
 padding: 5px 50px;
 border-radius: 10px;
 text-align: center;
}
.header--score p{
 margin-bottom: 0;
 color: var(--score-color);
}
.header--score h2{
 margin-top: 5px;
 color: var(--dark-text);
 font-size: 30px;
}

/* <===== 
         Main : Game Display section
  ======>*/

  .game--display {
   position: relative;
   margin-top: 30px;
  }

  .game--display p{
    color: var(--white-bkg);
    text-align: center;
  }


  /* Main : Game Display section : Game Pick */
.game--pick{
  display: block;
  background-image: url('/assets/images/bg-triangle.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(2,minmax(30px,auto));
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  margin-top: 20px;
}

/* Game Pick : Paper*/
.paper{
  border-radius: 50px;
  grid-column: 1/4;
  grid-row: 1/2;
  transform:translate(30px,-20px);
}
.paper--img{
  border-radius: 50px;
  padding: 15px 20px;
  border: 10px solid  var(--paper-color);
  background-color: var(--white-bkg);
  box-shadow: 1px 3px 3px var(--game-shadow);
  cursor:pointer;
}

/* 
    Game Pick : Scissors
*/

.scissors{
  border-radius: 50px;
  grid-column: 10/13;
  grid-row: 1/2;
  transform: translate(-70px,-20px);
}
.scissors--img{
  border-radius: 50px;
  padding: 15px 20px;
  border: 10px solid var(--scissors-color);
  background-color: var(--white-bkg);
  box-shadow: 1px 3px 3px var(--game-shadow);
  cursor:pointer;
}

/* Game Pick : Rock */
.rock{
  border-radius: 50px;
  grid-column: 6/7;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rock--img{
  border-radius: 50px;
  padding: 18px 20px;
  border: 10px solid  var(--rock-color);
  background-color: var(--white-bkg);
  box-shadow: 1px 3px 3px var(--game-shadow);
  cursor:pointer;
}


 /* Main : Game Display section : Game Decision */
 
 .game--decide{
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  margin-top: 20px;
}
  
/* Game Decide > Pick Class */
  .pick{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pick p{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 12px;
  }


/* Game Decide >  Game Compare*/
.game--compare{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

/* Game Compare Classes */
.announce{
  margin: 0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--white-bkg);
}
.button{
  cursor: pointer;
  margin: 0;
  padding: 10px 30px;
  background-color: var(--white-bkg);
  border-radius: 10px;
  position: relative;
  box-shadow: 2px 4px 3px var(--dark-shadow);
  text-transform: uppercase;
}
.draw{
  color: var(--scissors-color) !important;
}


.button::after{
  content: ' ';
      background-color: var(--white-bkg);
      display: inline;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
      transition: all 0.5s ease-out;
      z-index: -1;
}
.button:active::after{
   transform: scaleX(1.2);
   opacity: 0;
}

/* Js - Toggle Classes */
.button.win{
  color: var(--game-win);
}

.button.lose{
  color: var(--game-lose);
}

.hidden{
  opacity: 0;
  z-index: -2;
  display: none !important;
}
.rule--button{
  position: absolute;
  transform: translate(1000px,350px);
}
.house--blank{
  border-radius: 50px ;
}
.rule--button p{
  cursor: pointer;
  margin: 0;
  padding: 10px 30px;
  border: 2px solid var(--white-bkg);
  color:var(--white-bkg);
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 10px;
  position: relative;
  box-shadow: 2px 4px 3px var(--dark-shadow);
  background-image: url('/assets/images/wave\(1\).svg');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
/* Media Rules and Responsiveness */
    @media screen and (max-width: 400px) {
      .rules {
        height: 70vh;
        margin-top: 30px auto;
      }

      .rules-tag {
        grid-column: 1/6;
        grid-row: 1/2;
        text-align: left;
        text-align: center;
      }

      .img-close {
        grid-column: 1/13;
        grid-row: 3/4;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        margin-top: 20px;
      }

      .rules-img {

        grid-column: 1/13;
        grid-row: 2/3;
      }
      .rule--button{
        display: grid;
  justify-content: center;
  align-self: start;
      }
    }
 

/* Frontend Mentor Attribution*/
 .attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}

.attribution a {
  color:var(--white-bkg);
}